/*
* name: Rosé Pine
* upstream: https://github.com/rose-pine/rofi/blob/main/rose-pine.rasi
*
* All natural pine, faux fur and a bit of soho vibes for the classy minimalist
*/

* {
	base: #191724;
	surf: #1f1d2e;
	over: #26233a;
	mute: #6e6a86;
	subt: #908caa;
	text: #e0def4;

	love: #eb6f92;
	gold: #f6c177;
	rose: #ebbcba;
	pine: #31748f;
	foam: #9ccfd8;
	iris: #c4a7e7;

	low: #21202e;
	med: #403d52;
	high: #524f67;
}
